Anophelesgambiae=Ag_Derby_Ensembl_Metazoa_49.bridge
Aspergillusniger=An_Derby_Ensembl_Fungi_49.bridge
Arabidopsisthaliana=At_Derby_Ensembl_Plant_49.bridge
Bacillussubtilis=Bs_Derby_Ensembl_91.bridge
Bostaurus=Bt_Derby_Ensembl_105.bridge
Caenorhabditiselegans=Ce_Derby_Ensembl_105.bridge
Canisfamiliaris=Cf_Derby_Ensembl_105.bridge
Cionaintestinalis=Ci_Derby_Ensembl_105.bridge
Daniorerio=Dr_Derby_Ensembl_105.bridge
Daphniamagna=Da_Derby_Ensembl_Metazoa_49.bridge
Daphniapulex=Dp_Derby_Ensembl_Metazoa_49.bridge
Drosophilamelanogaster=Dm_Derby_Ensembl_105.bridge
Escherichiacoli=Ec_Derby_Ensembl_91.bridge
Gallusgallus=Gg_Derby_Ensembl_105.bridge
Fusariumgraminearum=Fg_Derby_Ensembl_Fungi_49.bridge
Glycinemax=Gm_Derby_Ensembl_Plant_49.bridge
Homosapiens=Hs_Derby_Ensembl_105.bridge
Hordeumvulgare=Hv_Derby_Ensembl_Plant_49.bridge
Macacamulatta=Ml_Derby_Ensembl_105.bridge
Musmusculus=Mm_Derby_Ensembl_105.bridge
Mycobacteriumtuberculosis=Mx_Derby_Ensembl_85.bridge
Ornithorhynchusanatinus=Oa_Derby_Ensembl_105.bridge
Ovisaries=Ova_Derby_Ensembl_105.bridge
Oryzaindica=Oi_Derby_Ensembl_Plant_49.bridge
Oryzajaponica=Oj_Derby_Ensembl_Plant_49.bridge
Populustrichocarpa=Pi_Derby_Ensembl_Plant_49.bridge
Pantroglodytes=Pt_Derby_Ensembl_105.bridge
Equuscaballus=Qc_Derby_Ensembl_105.bridge
Rattusnorvegicus=Rn_Derby_Ensembl_105.bridge
Saccharomycescerevisiae=Sc_Derby_Ensembl_105.bridge
Solanumlycopersicum=Sl_Derby_Ensembl_Plant_49.bridge
Susscrofa=Ss_Derby_Ensembl_105.bridge
Vitisvinifera=Vv_Derby_Ensembl_Plant_49.bridge
Xenopustropicalis=Xt_Derby_Ensembl_105.bridge
Zeamays=Zm_Derby_Ensembl_Plant_49.bridge
Metabolites=metabolites_20220707.bridge
