Ag_Derby_Ensembl_Metazoa_49.bridge=https://zenodo.org/record/6500401/files/Ag_Derby_Ensembl_Metazoa_49.bridge?download=1
An_Derby_Ensembl_Fungi_49.bridge=https://zenodo.org/record/6502081/files/An_Derby_Ensembl_Fungi_49.bridge?download=1
At_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/At_Derby_Ensembl_Plant_49.bridge?download=1
Bs_Derby_Ensembl_91.bridge=https://zenodo.org/record/3667670/files/Bs_Derby_Ensembl_91.bridge?download=1
Bt_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Bt_Derby_Ensembl_105.bridge?download=1
Ce_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Ce_Derby_Ensembl_105.bridge?download=1
Cf_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Cf_Derby_Ensembl_105.bridge?download=1
Ci_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Ci_Derby_Ensembl_105.bridge?download=1
Dr_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Dr_Derby_Ensembl_105.bridge?download=1
Da_Derby_Ensembl_Metazoa_49.bridge=https://zenodo.org/record/6500401/files/Da_Derby_Ensembl_Metazoa_49.bridge?download=1
Dp_Derby_Ensembl_Metazoa_49.bridge=https://zenodo.org/record/6500401/files/Dp_Derby_Ensembl_Metazoa_49.bridge?download=1
Dm_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Dm_Derby_Ensembl_105.bridge?download=1
Ec_Derby_Ensembl_91.bridge=https://zenodo.org/record/3667670/files/Ec_Derby_Ensembl_91.bridge?download=1
Gg_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Gg_Derby_Ensembl_105.bridge?download=1
Fg_Derby_Ensembl_Fungi_49.bridge=https://zenodo.org/record/6502081/files/Fg_Derby_Ensembl_Fungi_49.bridge?download=1
Gm_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Gm_Derby_Ensembl_Plant_49.bridge?download=1
Hs_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Hs_Derby_Ensembl_105.bridge?download=1
Hv_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Hv_Derby_Ensembl_Plant_49.bridge?download=1
Ml_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Ml_Derby_Ensembl_105.bridge?download=1
Mm_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Mm_Derby_Ensembl_105.bridge?download=1
Mx_Derby_Ensembl_85.bridge=https://zenodo.org/record/5638771/files/Mx_Derby_Ensembl_85.bridge?download=1
Oa_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Oa_Derby_Ensembl_105.bridge?download=1
Ova_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Ova_Derby_Ensembl_105.bridge?download=1
Oi_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Oi_Derby_Ensembl_Plant_49.bridge?download=1
Oj_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Oj_Derby_Ensembl_Plant_49.bridge?download=1
Pi_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Pi_Derby_Ensembl_Plant_49.bridge?download=1
Pt_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Pt_Derby_Ensembl_105.bridge?download=1
Qc_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Qc_Derby_Ensembl_105.bridge?download=1
Rn_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Rn_Derby_Ensembl_105.bridge?download=1
Sc_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Sc_Derby_Ensembl_105.bridge?download=1
Sl_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Sl_Derby_Ensembl_Plant_49.bridge?download=1
Ss_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Ss_Derby_Ensembl_105.bridge?download=1
Vv_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Vv_Derby_Ensembl_Plant_49.bridge?download=1
Xt_Derby_Ensembl_105.bridge=https://zenodo.org/record/6502115/files/Xt_Derby_Ensembl_105.bridge?download=1
Zm_Derby_Ensembl_Plant_49.bridge=https://zenodo.org/record/6502052/files/Zm_Derby_Ensembl_Plant_49.bridge?download=1
metabolites_20220707.bridge=https://figshare.com/ndownloader/files/36197283
